.product-list {
    overflow-y: scroll;
    height: calc(100% - 80px);
}

.ant-form-item {
    margin: 0;
}

.thumbnail {
    object-fit: cover;
    object-position: center;
}

.inner-wrapper {
    // justify-content: center;
}

.card {
    width: 18.3%;
    height: max-content;
}

@media screen and (max-width: 500px) {
    .card {
      width: 100%;
    }
  }