<div nz-flex nzJustify="space-between" nzAlign="center">
    <h1>{{pageEnum[config.type]}}</h1>
    <div nz-flex nzAlign="center" nzGap="middle">
        <form nz-form [formGroup]="searchForm" nzLayout="vertical" class="form">
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input label!">
                    <nz-input-group nzPrefixIcon="search">
                        <input type="text" nz-input formControlName="keyword" placeholder="Search" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </form>
        @if (config.showActionBtn && (activeUser$ | async)?.role === roleEnum.Admin) {
        <a (click)="add()" nz-tooltip nzTooltipTitle="Add"><span nz-icon [style.fontSize]="'25px'" nzType="plus-circle"
                nzTheme="twotone"></span></a>
        }
    </div>
</div>

<div #productsContainer class="product-list">
    <div class="inner-wrapper" nz-flex [nzGap]="'large'" nzWrap="wrap">

        @if (config.data$| async; as products) {
        @if(products.length && products){

        @for (product of products; track $index;) {
        <nz-card class="card" [nzCover]="coverTemplate"
            [nzActions]="config.showActionBtn && (activeUser$ | async)?.role === roleEnum.Admin? [actionFavorite,actionEdit, actionDelete]:[actionFavorite]">
            <nz-card-meta [nzTitle]="product.label" [nzDescription]="product.price"></nz-card-meta>
            <ng-template #actionEdit>
                <a nz-tooltip nzTooltipTitle="Edit" (click)="edit(product.id)">
                    <span nz-icon nzType="edit" nzTheme="twotone"></span>
                </a>
            </ng-template>
            <ng-template #actionFavorite>
                <a nz-tooltip (click)="setFavorite(product)"
                    [nzTooltipTitle]="config.type === pageEnum.Favorites?'Remove favorite':product.isFavorite ?'Favorite':'Add favorite'">
                    <span nz-icon nzType="heart" [style.color]="'#1890ff'"
                        [nzTheme]="product.isFavorite?'fill':'twotone'"></span>
                </a>
            </ng-template>
            <ng-template #actionDelete>
                <a nz-popconfirm [nzPopconfirmTitle]="'Are you sure delete '+ product.label + ' ?'"
                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteProduct(product)" nz-tooltip
                    nzTooltipTitle="Delete"><span nz-icon nzType="delete" nzTheme="twotone"
                        [nzTwotoneColor]="'#eb2f96'"></span></a>
            </ng-template>
            <ng-template #coverTemplate>
                <img alt="image" class="thumbnail" [src]="'https://picsum.photos/200/300?random='+ $index + 1"
                    height="200" width="auto" />
            </ng-template>
        </nz-card>
        }
        }@else if(hideLoader){
        <div nz-flex nzJustify="center" style="width: 100%;">
            <nz-empty></nz-empty>
        </div>
        }
        }
        
    </div>
    <div style="height: 10vh" nz-flex nzJustify="center">
        <nz-spin [hidden]="hideLoader" nzSize="large" nzSimple></nz-spin>
    </div>
</div>
<router-outlet name="drawer"></router-outlet>
