<nz-drawer [nzClosable]="false" [nzVisible]="true" nzPlacement="right" nzTitle="User" (nzOnClose)="close()"
    [nzFooter]="nzFooterContent">
    <ng-container *nzDrawerContent>
        @if (user$ | async; as user) {
        <nz-avatar nz-tooltip [nzSize]="100" [nzText]="user?.name?.charAt(0)"
            style="color:#f56a00; background-color:#fde3cf;font-size: 46px;"></nz-avatar>
        <div class="details">
            <div>Name</div>
            <div class="info"><b>{{user.name}}</b></div>
            <div>Username</div>
            <div class="info"><b>{{user.username}}</b></div>
            <div>Password</div>
            <div class="info"><b>{{user.password}}</b></div>
            <div>Role</div>
            <div class="info"><b>{{user.role || '-'}}</b></div>
            <div>Joined date</div>
            <div class="info"><b>{{user.createdDate | dateTimeFormat}}</b></div>
        </div>
        }
    </ng-container>
</nz-drawer>
<ng-template #nzFooterContent>
    <button nz-button nzType="default" style="margin-left: 1rem;" (click)="close()">Cancel</button>
</ng-template>